{% if session['role']==3 %}
        <div class="table-responsive-lg pt-4">
            <table class="table table-dark table-striped caption-top">
                <caption class="text-capitalize">Lista de registros</caption>
                <thead class="table-dark">
                    <tr>
                        <td>Nombre</td>
                        <td>ci</td>
                        <td>weigth</td>
                        <td>height</td>
                        <td>trensuperior</td>
                        <td>treninferior</td>
                        <td>Fecha Registro</td>
                        <td>Fecha Actualizacion</td>
                        <td>Realizar Accion</td>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users: %}
                    <tr>
                        <td>{{ user.full_name}}</td>
                        <td>{{ user.ci }}</td>
                        <td>{{ user.weigth}}</td>
                        <td>{{ user.height}}</td>
                        <td>{{ user.trensuperior}}</td>
                        <td>{{ user.treninferior}}</td>
                        <td>{{ user.date_register }}</td>
                        <td>{{ user.date_update }}</td>
                        <td>
                            <a href="/delete/{{user.id_user}}" class="btn btn-outline-danger" >Eliminar</a>
                            <a href="/get/{{user.id_user}}" class="btn btn-outline-success" >Modificar</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        {% endif %}